.module-list_posts {
    .outer-wrap {
        padding: 10px 0 100px 0;

        @include MQ(tabletLandscape) {
            padding: 10px 0 100px 0;
        }

        .container {

            .intro {
                .title-wrap {
                    h2 {
                        text-align: center;
                    }
                }
            }

            .list-posts {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                
                .post-preview {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
    
                    width: 100%;
                    max-width: 31.333%;
                    margin: 0 1%;

                    opacity: 0;
                    transform: translateY(20px);

                    transition: opacity .25s ease-in-out 0s,
                                transform .25s ease-in-out 0s;
                    will-change: opacity, transform;

                    @for $i from 1 through 10 {
                        &:nth-child(#{$i}) {
                            transition-delay: #{$i * .25}s;
                        }
                    }

                    .background-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
        
                        width: 100%;
                        margin: 0 0 20px 0;

                        .background-image {
                            position: relative;
                        }
                    }

                    .title-wrap {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    &.in_viewport {
        .outer-wrap {
            .container {
                .list-posts {
                    .post-preview {
                        opacity: 1; 
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}