.module-hero {
    .outer-wrap {
        .container {
            .hero-carousel {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 432px;

                &:after {
                    content: 'flickity';
                    display: none;
                }

                &[data-watchcss="off"] {
                    &:after {
                        content: '';
                    }
                }

                .slide-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    height: 432px;
                }
            }  
        }
    }
}