.module-sign_up {
    .outer-wrap {
        padding: 30px 0;

        @include MQ(tabletLandscape) {
            padding: 100px 0;
        }

        .columns {
            .column {
                transition: opacity 2s ease-in-out 0s,
                            transform 2s ease-in-out 0s;
                will-change: opacity, transform;

                &:first-of-type {
                    opacity: 0;
                    transform: translateX(40px);

                    .container-inner {
                        padding: 20px;

                        @include MQ(tabletLandscape) {
                            padding: 0 134px 0 0 ;
                        }
                    }
                }

                &:last-of-type {
                    opacity: 0;
                    transform: translateX(-40px);
                    padding: 20px;

                    @include MQ(tabletLandscape) {
                        padding: 0px;
                    }

                    .container-inner {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        background-color: #F7F6F5;
                        border-radius: 16px;
                        padding: 40px 20px 20px 20px;

                        @include MQ(tabletLandscape) {
                            padding: 40px 0 20px 0;
                        }

                        .form-wrap {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-self: center;
                            width: auto;
                            width: 100%;
                            max-width: 392px;

                            .title-wrap {
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    &.in_viewport {
        .outer-wrap {
            .columns {
                .column {
                    &:first-of-type {
                        opacity: 1;
                        transform: translateX(0);
                    }
    
                    &:last-of-type {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
            }
        }
    }
}