/*------------------------------------*\
    IN VIEWPORT CHECKS - CSS3 ANIMATIONS
\*------------------------------------*/
.in_viewport {
    opacity: 1;
}

.image-zoom {
    img {
        transform: scale(1.1);
        @include transition(all, 30s, ease-in-out);
    }
}

.reset-delay {
    transition-delay: 0s !important;
}

/*------------------------------------*\
    IN VIEWPORT CHECKS - CSS3 TRANSFORMS
\*------------------------------------*/
.viewport_check-up,
.viewport_check-left,
.viewport_check-right,
.viewport_check-down {
    transition: opacity .8s ease 0s,
        transform .8s $bezierSoftBounce 0s;
    will-change: opacity, transform;
}

.viewport_check-fadein {
    transition: opacity 1s ease;
    will-change: opacity;
}

.viewport_check-scalein {
    transition: opacity .8s ease 0s,
        transform .8s $bezier 0s;
    will-change: opacity, transform;
}

@include MQ(tabletSmall) {
    .viewport_check-up:not(.in_viewport) {
        opacity: 0;
        transform: translateY(30px);

        @include MQ(desktop) {
            transform: translateY(40px);
        }
    }

    .viewport_check-left:not(.in_viewport) {
        opacity: 0;
        transform: translateX(30px);

        @include MQ(desktop) {
            transform: translateX(40px);
        }
    }

    .viewport_check-right:not(.in_viewport) {
        opacity: 0;
        transform: translateX(-30px);

        @include MQ(desktop) {
            transform: translateX(-40px);
        }
    }

    .viewport_check-down:not(.in_viewport) {
        opacity: 0;
        transform: translateY(-30px);

        @include MQ(desktop) {
            transform: translateY(-40px);
        }
    }

    .viewport_check-fadein:not(.in_viewport) {
        opacity: 0;
    }

    .viewport_check-scalein:not(.in_viewport) {
        opacity: 0;
        transform: scale(.9);
    }
}

/*------------------------------------*\
    Custom Animations
\*------------------------------------*/

.fade-up {
    opacity: 0;
    transform: translateY(30px);

    transition: opacity .8s ease 0s,
        transform .8s $bezierSoftBounce 0s;
    will-change: opacity, transform;
}

.in_viewport {
    .fade-up {
        opacity: 1;
        transform: translateY(0px);
    }
}

/*------------------------------------*\
    Animate news articles
\*------------------------------------*/
.newsfeed-tile-01 {
    .news-animate {
        opacity: 0;
        transition: opacity .8s ease 0s,
            transform .8s $bezierSoftBounce 0s;

        will-change: opacity, transform;
        transform: translateY(30px);

        &.in_viewport {
            transform: translateY(0px);
            opacity: 1;
        }
    }

    &:nth-child(3n+1) {
        .news-animate {
            transition: opacity .8s ease 0s,
                transform .8s $bezierSoftBounce 0s;
            transition-delay: .2s;
        }
    }

    &:nth-child(3n+2) {
        .news-animate {
            transition: opacity .8s ease 0s,
                transform .8s $bezierSoftBounce 0s;
            transition-delay: .4s;
        }
    }

    &:nth-child(3n+3) {
        .news-animate {
            transition: opacity .8s ease 0s,
                transform .8s $bezierSoftBounce 0s;
            transition-delay: .6s;
        }
    }
}

.newsfeed-tile-02 {
    .news-animate {
        opacity: 0;
        transition: opacity .8s ease 0s,
            transform .8s $bezierSoftBounce 0s;

        will-change: opacity, transform;
        transform: translateY(30px);

        &.in_viewport {
            transform: translateY(0px);
            opacity: 1;
        }
    }

    &:nth-child(4n+1) {
        .news-animate {
            transition: opacity .8s ease 0s,
                transform .8s $bezierSoftBounce 0s;
            transition-delay: .2s;
        }
    }

    &:nth-child(4n+2) {
        .news-animate {
            transition: opacity .8s ease 0s,
                transform .8s $bezierSoftBounce 0s;
            transition-delay: .4s;
        }
    }

    &:nth-child(4n+3) {
        .news-animate {
            transition: opacity .8s ease 0s,
                transform .8s $bezierSoftBounce 0s;
            transition-delay: .6s;
        }
    }

    &:nth-child(4n+4) {
        .news-animate {
            transition: opacity .8s ease 0s,
                transform .8s $bezierSoftBounce 0s;
            transition-delay: .8s;
        }
    }
}

.newsletter-item {
    .news-animate {
        opacity: 0;
        transition: opacity .8s ease 0s,
            transform .8s $bezierSoftBounce 0s;

        will-change: opacity, transform;
        transform: translateY(30px);

        &.in_viewport {
            transform: translateY(0px);
            opacity: 1;
        }
    }

    &:nth-child(2n+1) {
        .news-animate {
            transition: opacity .8s ease 0s,
                transform .8s $bezierSoftBounce 0s;
            transition-delay: .2s;
        }
    }

    &:nth-child(2n+2) {
        .news-animate {
            transition: opacity .8s ease 0s,
                transform .8s $bezierSoftBounce 0s;
            transition-delay: .4s;
        }
    }
}

/*------------------------------------*\
    ANIMATE GALLERY
\*------------------------------------*/
.animate-gallery {
    li {
        opacity: 0;
        transition: opacity .8s ease 0s,
            transform .8s $bezierSoftBounce 0s;

        will-change: opacity, transform;
        transform: translateY(30px);

        &.in_viewport {
            transform: translateY(0px);
            opacity: 1;
        }

        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                transition: opacity .8s ease 0s,
                    transform .8s $bezierSoftBounce 0s;
                transition-delay: #{$i * 0.2}s;
            }
        }
    }
}

/*------------------------------------*\
    4 ICONS COLOURED 
    4 ICONS
\*------------------------------------*/
.row-cta-4icon-coloured-01,
.row-cta-4icon-01,
.row-cta-4-circles {
    .row-item {
        .animate-in {
            opacity: 0;
            transition: opacity .8s ease 0s,
                transform .8s $bezierSoftBounce 0s;

            will-change: opacity, transform;
            transform: translateY(30px);

            &.in_viewport {
                transform: translateY(0px);
                opacity: 1;
            }
        }

        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                .animate-in {
                    transition: opacity .8s ease 0s,
                        transform .8s $bezierSoftBounce 0s;
                    transition-delay: #{$i * 0.2}s;
                }
            }
        }
    }
}

.mouse-scroller {
    height: 20px;
    width: 20px;
    border: 2px solid $white;
    height: 40px;
    width: 25px;
    border-radius: 15px;
    cursor: pointer;

    span {
        width: 5px;
        height: 5px;
        background-color: $white;
        border-radius: 50%;
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -2.5px;
        top: 5px;
        animation: mouseScrollWheel 3s infinite;
    }
}

@keyframes mouseScrollWheel {
    from {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        transform: translateY(20px);
        opacity: 0;
    }
}

/*------------------------------------*\
    ANIMATE CALENDAR 
\*------------------------------------*/
.calendar-grid {
    .eventon_events_list {

        .eventon_list_event {
            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    transition: opacity .8s ease 0s,
                        transform .8s $bezierSoftBounce 0s !important;
                    transition-delay: #{$i * 0.2}s !important;
                }
            }
        }

        .evo_eventtop {
            opacity: 0;
            transition: opacity .8s ease 0s,
                transform .8s $bezierSoftBounce 0s;

            will-change: opacity, transform;
            transform: translateY(30px);

            &.in_viewport {
                transform: translateY(0px);
                opacity: 1;
            }
        }
    }

    &.show-all-events {
        .eventon_events_list {
            .evo_eventtop {
                opacity: 1;
            }
        }
    }
}

/*------------------------------------*\
    WORD / CHARACTER ANIMATION DOWN AND FADE IN
\*------------------------------------*/
.animate_characters-word {
    display: inline-block;
    white-space: nowrap;
}

.animate_characters-character {
    display: inline-block;
    transition: opacity 1s ease,
        transform 1s $bezierSoftBounce;
    opacity: 0;
    transform: translateY(-16px);
}

.is-selected,
.viewport_hero_banner_container.in_viewport,
.viewport_check.in_viewport {

    .animate_characters-character,
    .animate_characters .button {
        opacity: 1;
        transform: none;
    }
}

.viewport_hero_slide:not(.is-selected) {
    .animate_characters-character {
        transition-delay: 1s !important;
    }
}

/*------------------------------------*\
   SOCIAL MEDIA ICONS ON HOVER
\*------------------------------------*/
.animate-social {
    &.linkedin,
    &.facebook,
    &.twitter,
    &.instagram,
    &.mailus,
    &.tel {
        transform: scale(1);

        &:hover {
            animation-name: socialGrow;
            animation-duration: .5s;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            animation-delay: .1s;
        }
    }
}

@-webkit-keyframes socialGrow {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(.8);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes socialGrow {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(.8);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/*------------------------------------*\
    CONTINUOUS ROTATION
\*------------------------------------*/

.rotate {
    animation-name: animateRotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes animateRotate {
    from {
          transform: rotate(0deg);
    }
    to {
          transform: rotate(360deg);
    }
}

@keyframes animateRotate {
    from {
          transform: rotate(0deg);
    }
    to {
          transform: rotate(360deg);
    }
}

/*------------------------------------*\
    ANNIMATIONS
\*------------------------------------*/

.reset-delay {
    transition-delay: 0s !important;
}

.delay-0 {
    transition-delay: 0s;
}

.delay-1 {
    transition-delay: .2s;
}

.delay-2 {
    transition-delay: .4s;
}

.delay-3 {
    transition-delay: .6s;
}

.delay-4 {
    transition-delay: 8s;
}

.delay-5 {
    transition-delay: 1s;
}

.delay-6 {
    transition-delay: 1.2s;
}

.delay-7 {
    transition-delay: 1.4s;
}

.delay-8 {
    transition-delay: 1.6s;
}

.delay-9 {
    transition-delay: 1.8s;
}

.delay-10 {
    transition-delay: 2s;
}

.delay-11 {
    transition-delay: 2.2s;
}

.delay-12 {
    transition-delay: 2.4s;
}

.delay-13 {
    transition-delay: 2.6s;
}

.delay-14 {
    transition-delay: 2.8s;
}

.delay-14 {
    transition-delay: 3s;
}

.animated.slower {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
}

.delay-tile-1 {
    transition-delay: 0.2s!important;
}

.delay-tile-2 {
    transition-delay: 0.4s!important;
}

.delay-tile-3 {
    transition-delay: 0.6s!important;
}

.delay-tile-4 {
    transition-delay: 0.8s!important;
}

.delay-tile-5 {
    transition-delay: 1s!important;
}

.delay-tile-6 {
    transition-delay: 1.2s!important;
}

.delay-tile-7 {
    transition-delay: 1.4s!important;
}

.delay-tile-8 {
    transition-delay: 1.6s!important;
}

.delay-tile-9 {
    transition-delay: 1.8s!important;
}

.delay-tile-10 {
    transition-delay: 2s!important;
}

.delay-tile-11 {
    transition-delay: 2.2s!important;
}

.delay-tile-12 {
    transition-delay: 2.4s!important;
}

.delay-tile-13 {
    transition-delay: 2.6s!important;
}

.delay-tile-14 {
    transition-delay: 2.8s!important;
}

.delay-tile-15 {
    transition-delay: 3s!important;
}

.delay-tile-16 {
    transition-delay: 3.2s!important;
}

.delay-tile-17 {
    transition-delay: 3.4s!important;
}

.delay-tile-18 {
    transition-delay: 3.6s!important;
}

.delay-tile-19 {
    transition-delay: 3.8s!important;
}

.delay-tile-20 {
    transition-delay: 4s!important;
}