// BREAK POINTS
$mobilePortrait: 375px;
$mobileLandscape: 480px;
$tabletSmall: 640px;
$tabletPortrait: 768px;
$tabletLandscape: 1024px;
$desktop: 1128px;
$siteWidth: 1280px;
$wideDesktop: 1440px;
$extraWideDesktop: 1920px;

// MEDIA QUERIES
@mixin MQ($canvas) {
  @if $canvas==mobilePortrait {
    @media only screen and (min-width: $mobilePortrait) {
      @content;
    }
  }
  
  @if $canvas==mobileLandscape {
    @media only screen and (min-width: $mobileLandscape) {
      @content;
    }
  }

  @if $canvas==tabletSmall {
    @media only screen and (min-width: $tabletSmall) {
      @content;
    }
  }

  @if $canvas==tabletPortrait {
    @media only screen and (min-width: $tabletPortrait) {
      @content;
    }
  }

  @if $canvas==tabletLandscape {
    @media only screen and (min-width: $tabletLandscape) {
      @content;
    }
  }

  @else if $canvas==desktop {
    @media only screen and (min-width: $desktop) {
      @content;
    }
  }

  @else if $canvas==wideDesktop {
    @media only screen and (min-width: $wideDesktop) {
      @content;
    }
  }


  @else if $canvas==siteWidth {
    @media only screen and (min-width: $siteWidth) {
      @content;
    }
  }

  @else if $canvas==extraWideDesktop {
    @media only screen and (min-width: $extraWideDesktop) {
      @content;
    }
  }
}


@mixin MQMAX($canvas) {

  @if $canvas==mobilePortrait {
    @media only screen and (max-width: $mobilePortrait) {
      @content;
    }
  }

  @if $canvas==mobileLandscape {
    @media only screen and (max-width: $mobileLandscape) {
      @content;
    }
  }

  @if $canvas==tabletSmall {
    @media only screen and (max-width: $tabletSmall) {
      @content;
    }
  }

  @if $canvas==tabletPortrait {
    @media only screen and (max-width: $tabletPortrait) {
      @content;
    }
  }

  @if $canvas==tabletLandscape {
    @media only screen and (max-width: $tabletLandscape) {
      @content;
    }
  }

  @else if $canvas==desktop {
    @media only screen and (max-width: $desktop) {
      @content;
    }
  }

  @else if $canvas==wideDesktop {
    @media only screen and (max-width: $wideDesktop) {
      @content;
    }
  }


  @else if $canvas==siteWidth {
    @media only screen and (max-width: $siteWidth) {
      @content;
    }
  }

  @else if $canvas==extraWideDesktop {
    @media only screen and (max-width: $extraWideDesktop) {
      @content;
    }
  }
}

$height500: 568px;
$height666: 667px;
$height766: 736px;
$screen916: 812px;
$height1066: 1066px;

@mixin MQH($canvas) {

  @if $canvas==height500 {
    @media only screen and (min-height: $height500) {
      @content;
    }
  }

  @if $canvas==height666 {
    @media only screen and (min-height: $height666) {
      @content;
    }
  }

  @if $canvas==height766 {
    @media only screen and (min-height: $height766) {
      @content;
    }
  }

  @if $canvas==screen916 {
    @media only screen and (min-height: $screen916) {
      @content;
    }
  }

  @if $canvas==height1066 {
    @media only screen and (min-height: $height1066) {
      @content;
    }
  }
}

@mixin MQHMAX($canvas) {

  @if $canvas==height500 {
    @media only screen and (max-height: $height500) {
      @content;
    }
  }

  @if $canvas==height666 {
    @media only screen and (max-height: $height666) {
      @content;
    }
  }

  @if $canvas==height766 {
    @media only screen and (max-height: $height766) {
      @content;
    }
  }

  @if $canvas==screen916 {
    @media only screen and (max-height: $screen916) {
      @content;
    }
  }

  @if $canvas==height1066 {
    @media only screen and (max-height: $height1066) {
      @content;
    }
  }
}