@font-face {
    font-family: 'ZooplaDisplay-Bold';
    src: url('../fonts/zoopla-sans/ZooplaDisplay-Bold.woff2') format('woff2'),
        url('../fonts/zoopla-sans/ZooplaDisplay-Bold.woff') format('woff');
        font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZooplaDisplay-Heavy';
    src: url('../fonts/zoopla-sans/ZooplaDisplay-Heavy.woff2') format('woff2'),
        url('../fonts/zoopla-sans/ZooplaDisplay-Heavy.woff') format('woff');
        font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZooplaDisplay-Light';
    src: url('../fonts/zoopla-sans/ZooplaDisplay-Light.woff2') format('woff2'),
        url('../fonts/zoopla-sans/ZooplaDisplay-Light.woff') format('woff');
        font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZooplaDisplay-Regular';
    src: url('../fonts/zoopla-sans/ZooplaDisplay-Regular.woff2') format('woff2'),
        url('../fonts/zoopla-sans/ZooplaDisplay-Regular.woff') format('woff');
        font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZooplaSans-Bold';
    src: url('../fonts/zoopla-sans/ZooplaSans-Bold.woff2') format('woff2'),
        url('../fonts/zoopla-sans/ZooplaSans-Bold.woff') format('woff');
        font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZooplaSans-BoldItalic';
    src: url('../fonts/zoopla-sans/ZooplaSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/zoopla-sans/ZooplaSans-BoldItalic.woff') format('woff');
        font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZooplaSans-Italic';
    src: url('../fonts/zoopla-sans/ZooplaSans-Italic.woff2') format('woff2'),
        url('../fonts/zoopla-sans/ZooplaSans-Italic.woff') format('woff');
        font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZooplaSans-Light';
    src: url('../fonts/zoopla-sans/ZooplaSans-Light.woff2') format('woff2'),
        url('../fonts/zoopla-sans/ZooplaSans-Light.woff') format('woff');
        font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZooplaSans-LightItalic';
    src: url('../fonts/zoopla-sans/ZooplaSans-LightItalic.woff2') format('woff2'),
        url('../fonts/zoopla-sans/ZooplaSans-LightItalic.woff') format('woff');
        font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZooplaSans-Regular';
    src: url('../fonts/zoopla-sans/ZooplaSans-Regular.woff2') format('woff2'),
        url('../fonts/zoopla-sans/ZooplaSans-Regular.woff') format('woff');
        font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZooplaSans-SemiBold';
    src: url('../fonts/zoopla-sans/ZooplaSans-SemiBold.woff2') format('woff2'),
        url('../fonts/zoopla-sans/ZooplaSans-SemiBold.woff') format('woff');
        font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZooplaSans-SemiBoldItalic';
    src: url('../fonts/zoopla-sans/ZooplaSans-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/zoopla-sans/ZooplaSans-SemiBoldItalic.woff') format('woff');
        font-weight: normal;
    font-style: normal;
}