// Transitions
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin scale($scale-size) {
    -webkit-transform: scale($scale-size);
    -moz-transform: scale($scale-size);
    -ms-transform: scale($scale-size);
    -o-transform: scale($scale-size);
    transform: scale($scale-size);
}
@mixin filter($filter-type,$filter-amount) {
    -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
    -moz-filter: $filter-type+unquote('(#{$filter-amount})');
    -ms-filter: $filter-type+unquote('(#{$filter-amount})');
    -o-filter: $filter-type+unquote('(#{$filter-amount})');
    filter: $filter-type+unquote('(#{$filter-amount})');
}

 @mixin rotate($degrees) {
    -webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    transform: rotate($degrees);
}

// Animate
//@include transition(name, duration, iteration-count);
// @include transition(plane, 2s, infinite);
@mixin animation($name, $duration, $iteration-count, $timing-function) {
    -webkit-animation-name: $name;
    -webkit-animation-duration: $duration;
    -webkit-animation-iteration-count: $iteration-count;
    -webkit-animation-timing-function: $timing-function;
    
    -moz-animation-name: $name;
    -moz-animation-duration: $duration;
    -moz-animation-iteration-count: $iteration-count;
    -moz-animation-timing-function: $timing-function;

    -ms-animation-name: $name;
    -ms-animation-duration: $duration;
    -ms-animation-iteration-count: $iteration-count;
    -ms-animation-timing-function: $timing-function;

    -o-animation-name: $name;
    -o-animation-duration: $duration;
    -o-animation-iteration-count: $iteration-count;
    -o-animation-timing-function: $timing-function;

    animation-name: $name;
    animation-duration: $duration;
    animation-iteration-count: $iteration-count;
    animation-timing-function: $timing-function;
}