/*------------------------------------*\
    FONTS
\*------------------------------------*/
$ZooplaDisplay-Bold: 'ZooplaDisplay-Bold', sans-serif;;
$ZooplaDisplay-Heavy: 'ZooplaDisplay-Heavy', sans-serif;;
$ZooplaDisplay-Light: 'ZooplaDisplay-Light', sans-serif;;
$ZooplaDisplay-Regular: 'ZooplaDisplay-Regular', sans-serif;;
$ZooplaSans-Bold: 'ZooplaSans-Bold', sans-serif;;
$ZooplaSans-BoldItalic: 'ZooplaSans-BoldItalic', sans-serif;;
$ZooplaSans-Italic: 'ZooplaSans-Italic', sans-serif;;
$ZooplaSans-Light: 'ZooplaSans-Light', sans-serif;;
$ZooplaSans-LightItalic: 'ZooplaSans-LightItalic', sans-serif;;
$ZooplaSans-Regular: 'ZooplaSans-Regular', sans-serif;;
$ZooplaSans-SemiBold: 'ZooplaSans-SemiBold', sans-serif;;
$ZooplaSans-SemiBoldItalic: 'ZooplaSans-SemiBoldItalic', sans-serif;;

// Font Weights
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 700;
$bold: 800;

/*------------------------------------*\
    COLOURS
\*------------------------------------*/
$white: #fff;
$black: #000;
$zoopla: #8046F1; 
$placeholder: #76767C;

/*------------------------------------*\
    ANIMATION TIMINGS
\*------------------------------------*/

$bezier:				cubic-bezier(0.165, 0.84, 0.44, 1);
$bezierLg:              cubic-bezier(0.19, 1, 0.22, 1);
$bezierSoftBounce:      cubic-bezier(0.175, 0.85, 0.71, 1.07);