.button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;

    text-decoration: none;
    text-align: center;

    padding: 10px 25px;
    margin: 0 0 20px 0;

    width: auto;

    border-radius: 12;

    border: 2px solid $zoopla;
    background-color: $zoopla;

    transition: background-color .5s ease 0s,
                transform .5s $bezier 0s;
    will-change: background-color, transform;

    span,
    .wpcf7-submit {
        font-family: $ZooplaSans-Regular;
        font-size: 14px;
        font-weight: $regular;
        color: $white;

        line-height: 1.2;

        margin: 0;
    }

    .wpcf7-spinner {
        display: none;

        &:before {
            display: none;
        }
    }

    &:hover {
        transform: translateY(-3px);
        background-color: $white;

        span {
            color: $zoopla;
        }
    }
}

.wpcf7-submit {
    border: none;
    background-color: transparent;
}