.wpcf7 {
    .input {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin: 0 0 20px 0;

        span {
            display: block;
            flex-direction: column;
            justify-content: flex-start;

            border: 1px solid #D1D0CF;
            background-color: $white;

            textarea,
            input {
                border: none;
                height: 48px;
                width: 100%;
                padding: 5px 10px;

                &::placeholder {
                    font-family: $ZooplaSans-Regular;
                    font-size: 16px;
                    font-weight: 400;
                    color: $placeholder;
                    font-weight: normal;
                    line-height: 1.2;
                }
            }

            textarea {
                height: 180px;
            }
        }
    }   
}

.show-section-1 {
    .section-1 {
        display: block;
    }

    .section-2 {
        display: none;
    }
}

.show-section-2 {
    .section-1 {
        display: none;
    }

    .section-2 {
        display: block;
    }
}