/*------------------------------------*\
    BACKGROUND IMAGES
\*------------------------------------*/
.background-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 1;

    .background-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;

        z-index: 3;
    }

    .background-images,
    .background-image {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;

        z-index: 2;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            transition: width 0.5s $bezier 0s,
                        opacity 0.5s $bezier 0s,
                        transform 0.5s $bezier 0s;
            will-change: opacity, width, transform;
        }

        .background-mobile {
            display: block;
        }

        .background-tablet {
            display: none;
        }

        .background-desktop {
            display: none;
        }

        .background-desktop-wide {
            display: none;
        }

        @include MQ(tabletSmall) {
            .background-mobile {
                display: none;
            }
        
            .background-tablet {
                display: block;
            }
        
            .background-desktop {
                display: none;
            }
        }

        @include MQ(tabletLandscape) {
            .background-mobile {
                display: none;
            }
        
            .background-tablet {
                display: none;
            }
        
            .background-desktop {
                display: block;
            }
        }

        &.extra-wide {
            .background-desktop {
                @include MQ(extraWideDesktop) {
                    display: none;
                }
            }

            .background-desktop-wide {
                @include MQ(extraWideDesktop) {
                    display: block;
                }
            }
        }
    }

    &.normal {
        position: relative;
        top: unset;
        bottom: unset;
        right: unset;
        left: unset;

        display: block;
        width: 100%;
        height: auto;

        .background-image {
            position: relative;
            top: unset;
            bottom: unset;
            right: unset;
            left: unset;
    
            display: block;
            width: 100%;
            height: auto;

            img {
                position: relative;
                top: unset;
                bottom: unset;
                right: unset;
                left: unset;

                display: block;
                float: left;
                width: 100%;
                height: auto;

                object-fit: contain;
    
                transition: width 0.5s $bezier 0s,
                            opacity 0.5s $bezier 0s,
                            transform 0.5s $bezier 0s;
                will-change: opacity, width, transform;
            }
        }
    }
}