.acfe-fc-placeholder > .acfe-flexible-placeholder {
    background-position: 50%!important;
    background-repeat: no-repeat!important;
    background-size: contain!important;
    background-color: #fff!important;
}

.layout[data-layout="hero"] > .acfe-fc-placeholder > .acfe-flexible-placeholder {
    background-image: url("../img/modules/hero.jpg");
    min-height: 342px;
}

.layout[data-layout="list_posts"] > .acfe-fc-placeholder > .acfe-flexible-placeholder {
    background-image: url("../img/modules/list-posts.jpg");
    min-height: 342px;
}

.layout[data-layout="sign_up"] > .acfe-fc-placeholder > .acfe-flexible-placeholder {
    background-image: url("../img/modules/sign-up.jpg");
    min-height: 342px;
}