/*------------------------------------*\
Content Styles
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $ZooplaSans-Regular;
    line-height: 1.1;
    color: $black;
    font-weight: bold;
    margin: 20px 0;
}

h1 {
    font-size: 44px;

    @include MQ(tabletLandscape) {
        font-size: 50px;
    }
}

h2 {
    font-size: 34px;

    @include MQ(tabletPortrait) {
        font-size: 40px;
    }
}

h3 {
    font-size: 26px;

    @include MQ(tabletPortrait) {
        font-size: 32px;
    }
}

h4 {
    font-size: 22px;

    @include MQ(tabletPortrait) {
        font-size: 28px;
    }
}

h5 {
    font-size: 16px;

    @include MQ(tabletPortrait) {
        font-size: 22px;
    }
}

h6 {
    font-size: 12px;

    @include MQ(tabletPortrait) {
        font-size: 16px;
    }
}

p {
    font-family: $ZooplaSans-Regular;
    font-size: 14px;
    font-weight: 400;
    color: $black;

    font-weight: normal;
    line-height: 1.2;

    margin: 0 0 10px 0;

    @include MQ(tabletSmall) {
        font-size: 14px;
    }

    @include MQ(tabletLandscape) {
        font-size: 16px;
    }

    ul {
        li {
            font-family: $ZooplaSans-Regular;
            font-size: 14px;
            font-weight: 400;
            color: $black;
    
            font-weight: normal;
            line-height: 1.2;
    
            margin: 0 0 10px 0;
    
            @include MQ(tabletSmall) {
                font-size: 14px;
            }
    
            @include MQ(tabletLandscape) {
                font-size: 16px;
            }
        }
    }
}

.title-wrap {
    display: block;
    float: left;
    width: 100%;
    margin: 0 auto 30px auto;

    opacity: 0;
    transform: translateY(30px);

    transition: opacity .5s ease 0s,
                transform .5s $bezier 0s;
    will-change: opacity, transform;
    
    position: relative;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    p,
    span {
        display: block;

        font-family: $ZooplaSans-Regular;
        font-weight: bold;

        font-size: 26px;

        line-height: 1.1;
        letter-spacing: 0;
        text-transform: none;

        color: $black;
        text-align: left;
    
        margin: 0;

        @include MQ(tabletSmall) {
            font-size: 34px;
        }
    
        @include MQ(tabletLandscape) {
            font-size: 40px;
        }
    }

    .h1 {
        font-size: 44px;
    
        @include MQ(tabletLandscape) {
            font-size: 50px;
        }
    }
    
    .h2 {
        font-size: 34px;
    
        @include MQ(tabletPortrait) {
            font-size: 40px;
        }
    }
    
    .h3 {
        font-size: 26px;
    
        @include MQ(tabletPortrait) {
            font-size: 32px;
        }
    }
    
    .h4 {
        font-size: 22px;
    
        @include MQ(tabletPortrait) {
            font-size: 28px;
        }
    }
    
    .h5 {
        font-size: 16px;
    
        @include MQ(tabletPortrait) {
            font-size: 22px;
        }
    }
    
    .h6 {
        font-size: 12px;
    
        @include MQ(tabletPortrait) {
            font-size: 16px;
        }
    }
}

.title-wrap-animate {
    display: block;
    float: left;
    margin: 0;

    height: auto;
    width: 100%;

    margin: 0 auto 30px auto;
    position: relative;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    &.normal {
        h1 {
            font-weight: 500;
    
            .animate_characters-word {
                font-weight: 500;

    
                .animate_characters-character {
                    font-weight: 500;

                }
            }
        }
    
        h2 {
            font-weight: 500;
    
            .animate_characters-word {
                font-weight: 500;
    
                .animate_characters-character {
                    font-weight: 500;
                }
            }
        }
    }

    .animate-underscore {
        opacity: 0;
        width: 0;

        height: 4px;
        background-color: $black;
        display: block;

        position: absolute;
        bottom: -15px;
        left: 0;

        border-radius: 10px;

        transition: opacity 1s ease 0s,
                    width 1s $bezier 0s;
        will-change: opacity, width;

        @include MQ(tabletLandscape) {
            height: 6px;
        }

        &.center {
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.description-wrap {
    display: block;
    float: left;
    width: 100%;
    max-width: 100%;

    margin: 0 0 20px 0;

    opacity: 0;
    transform: translateY(30px);

    transition: opacity .5s ease 0s,
                transform .5s $bezier 0s;
    will-change: opacity, transform;

    span,
    p {
        display: block;

        font-family: $ZooplaSans-Regular;
        font-weight: 400;
        
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0;
        text-transform: none;
        
        color: $black;
        text-align: left;

        strong {
            font-weight: 800;
        }
    }

    &.center {
        span,
        p {
            text-align: center;
        }
    }

    ol {
        margin: 20px 0 0 0;
        list-style: decimal;
        padding: 0 0 0 20px;

        li {
            font-family: $ZooplaSans-Regular;
            font-weight: 400;
            
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0;
            text-transform: none;
            
            color: $black;
            text-align: left;
    
            width: 100%;
            padding: 2px 0 0 22px;
        }
    }

    ul {
        margin: 20px 0 0 0;

        li {
            display: inline-block;
            width: 100%;

            font-family: $ZooplaSans-Regular;
            font-weight: 400;
            
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0;
            text-transform: none;
            
            color: $black;
            text-align: left;
    
            width: 100%;
            padding: 2px 0 0 22px;
    
            position: relative;
    
            &:before {
                position: absolute;
                top: 0;
                left: 2px;
    
                content: '•';
                font-size: 17px;
                color: $black;
            }
        }
    }

    &.bullet-list {
        ul {
            margin: 20px 0 0 0;

            li {
                display: inline-block;
                width: 100%;

                font-family: $ZooplaSans-Regular;
                font-weight: 400;
                
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0;
                text-transform: none;
                
                color: $black;
                text-align: left;
        
                width: 100%;
                padding: 5px 0 7px 28px;
        
                position: relative;
        
                &:before {
                    content: '\A';
                    width: 15px;
                    height: 15px;

                    position: absolute;
                    top: 4px;
                    left: 0;

                    background-image: url('../img/alc-images/check.png');
                    background-repeat: no-repeat;
                    background-size: 100%;
                    background-position: center;
                }
            }
        }
    }

    strong {
        span,
        p,
        ul, 
        ol,
        li {
            font-weight: 800;
        }
    }

    &.size-10 {
        span,
        p {
            font-size: 10px;
            line-height: 1;
        }

        ul, 
        ol, 
        li {
            font-size: 10px;
            line-height: 1;
        }
    }

    &.size-14 {
        span,
        p {
            font-size: 14px;
            line-height: 1.1;

            @include MQ(tabletSmall) {
                font-size: 14px;
            }
        }

        ul, 
        ol, 
        li {
            font-size: 14px;
            line-height: 1.1;
        }
    }

    &.size-16,
    &.p16 {
        span,
        p {
            font-size: 14px;
            line-height: 24px;

            @include MQ(tabletSmall) {
                font-size: 16px;
            }
        }

        ul, 
        ol, 
        li {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &.size-18 {
        span,
        p {
            font-size: 14px;
            line-height: 1.1;

            @include MQ(tabletPortrait) {
                font-size: 18px;
                line-height: 1.2;
            }
        }

        ul, 
        ol {
            padding-left: 20px;

            li {
                font-size: 14px;
                line-height: 1.1;

                @include MQ(tabletPortrait) {
                    font-size: 18px;
                    line-height: 1.2;
                }
            }    
        }
    }

    &.size-20 {
        span,
        p {
            font-size: 16px;
            line-height: 1.1;

            @include MQ(tabletPortrait) {
                font-size: 20px;
                line-height: 1.2;
            }
        }

        ul, 
        ol, 
        li {
            font-size: 16px;
            line-height: 1.1;

            @include MQ(tabletPortrait) {
                font-size: 20px;
                line-height: 1.2;
            }
        }
    }

    &.size-22 {
        span,
        p {
            font-size: 16px;
            line-height: 1.1;

            @include MQ(tabletPortrait) {
                font-size: 22px;
                line-height: 1.3;
            }
        }

        ul, 
        ol, 
        li {
            font-size: 16px;
            line-height: 1.1;

            @include MQ(tabletPortrait) {
                font-size: 22px;
                line-height: 1.3;
            }
        }
    }

    &.size-24 {
        span,
        p {
            font-size: 16px;
            line-height: 1.1;

            @include MQ(tabletPortrait) {
                font-size: 24px;
                line-height: 1.3;
            }
        }

        ul, 
        ol, 
        li {
            font-size: 16px;
            line-height: 1.1;

            @include MQ(tabletPortrait) {
                font-size: 24px;
                line-height: 1.3;
            }
        }
    }

    &.size-26 {
        span,
        p {
            font-size: 24px;
            line-height: 1.1;

            @include MQ(tabletPortrait) {
                font-size: 26px;
                line-height: 1.3;
            }
        }

        ul, 
        ol, 
        li {
            font-size: 24px;
            line-height: 1.1;

            @include MQ(tabletPortrait) {
                font-size: 26px;
                line-height: 1.3;
            }
        }
    }
}

.image-wrap {
    display: block;
    float: left;
    width: 100%;
    max-width: 100%;

    margin: 0 0 50px 0;

    opacity: 0;
    transform: translateY(30px);

    transition: opacity .5s ease 0s,
                transform .5s $bezier 0s;
    will-change: opacity, transform;

    img {
        width: 100%;
        max-width: 100%;
        height: auto;

        float: left;
        display: block;

    }
}

.link-wrap {
    display: block;

    width: 100%;
    float: left;

    opacity: 0;
    transform: translateY(30px);

    transition: opacity .5s ease 0s,
                transform .5s $bezier 0s;
    will-change: opacity, transform;

    &.center {
        text-align: center;
        
        .button {
            float: none;
        }
    }

    &.left {
        .button {
            margin: 0;
        }
    }

    .venue-button {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;
        height: 45px;

        background-color: $black;

        text-decoration: none;

        transition: box-shadow .5s ease 0s,
                    transform .5s $bezier 0s;
        will-change: box-shadow, transform;

        box-shadow: 0 0 0 0 rgba(0,0,0,0.19);

        @include MQ(tabletLandscape) {
            height: 60px;
        }

        span {
            font-family: $ZooplaSans-Regular;
            font-size: 14px;
    
            color: $white;
    
            font-weight: bold;
            line-height: 1.3;
                
            text-decoration: none;

            @include MQ(tabletLandscape) {
                font-size: 24px;
            }
        }

        &:hover {
            box-shadow: 0 0 14px 1px rgba(0,0,0,0.19);
        }
    }
}

blockquote {
    border-left: 4px solid $black;
    margin: 40px 0px;
    padding: 5px 20px;

    span,
    P {
        color: $black;
        margin: 0 0 20px 0;
        font: normal normal 400 16px/20px $ZooplaSans-Regular;
        width: 100%;

        &:last-of-type {
            margin: 0;
        }
    }
}

.in_viewport {
    .sub-title-wrap,
    .small-title-wrap,
    .title-wrap,    
    .title-wrap-animate,
    .description-wrap,
    .image-wrap,
    .link-wrap {
        opacity: 1;
        transform: translate(0);
    }
}