.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: $white;
    min-height: 72px;
    border-bottom: 1px solid #f2f2f2;

    .header-inner {
        .site-logo {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 200px;
            height: auto;
            margin: 0 20px;
            
            svg {
                transition: opacity 2s ease-in-out 0s,
                            transform 2s ease-in-out 0s;
                will-change: opacity, transform;

                &:first-child {
                    opacity: 0;
                    transform: translateX(10px);
                }

                &:last-child {
                    padding-left: 10px;
                    opacity: 0;
                    transform: translateX(-10px);
                }
            }

            &:hover {
                svg {    
                    &:first-child {
                        transform: translateX(5px);
                    }
    
                    &:last-child {
                        transform: translateX(-5px);
                    }
                }
            }
        }
    }

    &.in_viewport {
        .header-inner {
            .site-logo {
                svg {
                    &:first-child {
                        opacity: 1;
                        transform: translateX(0);
                    }
    
                    &:last-child {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
            }
        }
    }

    .header-inner {
        .site-logo {
            &:hover {
                svg {    
                    &:first-child {
                        transform: translateX(-3px);
                    }
    
                    &:last-child {
                        transform: translateX(3px);
                    }
                }
            }
        }
    }
}