/*------------------------------------*\
    GENERAL PAGE LAYOUT
\*------------------------------------*/

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none!important;
}

html {
    opacity: 0;

    transition: opacity 1s ease-in;

    &.page-loaded {
        opacity: 1;
    }
   
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-tap-highlight-color: rgba(0, 0, 0, .3);
        min-width: 320px;
        overflow-x: hidden;
        max-width: 100%;
        margin: 0 !important;
    
        main {
            display: block;
            min-width: 300px;
            width: 100%;
            max-width: 100%;
        
            margin: 0 auto;
            background-color: $white;
        
            &:after {
                content: '';
                display: block;
                float: left;
            }
        }

        &.theme-alg {
            main {
                margin: 0 auto;
            }
        }
    }
}

/*------------------------------------*\
    PAGE UTILITIES
\*------------------------------------*/

.clearfix {
    &::after,
    &::before {
        clear: both;
        content: '';
        display: block;
        width: 100%;
    }
}

.no-click {
    pointer-events: none;
}

/*------------------------------------*\
    PAGE CENTER CONTAINERS
\*------------------------------------*/

.container {
    display: block;
    float: left;
    position: relative;
    width: 100%;

    &.center-content-full {
        max-width: 100%;
        margin: 0 auto;
        float: none;
    }

    &.center-content-710 {
        max-width: 710px;
        margin: 0 auto;
        float: none;
    }

    &.center-content-900 {
        max-width: 900px;
        margin: 0 auto;
        float: none;
    }

    &.center-content-1060 {
        max-width: 1060px;
        margin: 0 auto;
        float: none;
    }

    &.center-content-1080 {
        max-width: 1080px;
        margin: 0 auto;
        float: none;
    }

    &.center-content-1180 {
        max-width: 1180px;
        margin: 0 auto;
        float: none;
    }

    &.center-content-1280 {
        max-width: 1280px;
        margin: 0 auto;
        float: none;
    }

    &.center-content-1440 {
        max-width: 1440px;
        margin: 0 auto;
        float: none;
    }
}

.fill-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &.fixed {
        position: fixed;
    }
}

/*------------------------------------*\
    PAGE COLUMNS
\*------------------------------------*/

@mixin columns($size_one, $size_two) {
    &.switch-portrait {
        @include MQ(tabletPortrait) {
            flex-direction: row;
        }

        > .column {
            &:nth-child(1) {
                width: 100%;
                max-width: 100%;
        
                @include MQ(tabletPortrait) {
                    max-width: $size_one;
                }
            }

            &:nth-child(2) {
                width: 100%;
                max-width: 100%;
        
                @include MQ(tabletPortrait) {
                    max-width: $size_two;
                }
            }
        }
    }

    &.switch-landscape {
        @include MQ(tabletLandscape) {
            flex-direction: row;
        }

        > .column {
            &:nth-child(1) {
                width: 100%;
                max-width: 100%;
        
                @include MQ(tabletLandscape) {
                    max-width: $size_one;
                }
            }

            &:nth-child(2) {
                width: 100%;
                max-width: 100%;
        
                @include MQ(tabletLandscape) {
                    max-width: $size_two;
                }
            }
        }
    }

    &.switch-dont {
        flex-direction: row;

        > .column {
            &:nth-child(1) {
                width: 100%;
                max-width: $size_one;
            }
            
            &:nth-child(2) {
                width: 100%;
                max-width: $size_two;
            }
        }
    }
}

.columns {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    float: none;
    position: relative;

    .column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &.col-15-85 {
        @include columns(15%, 85%);
    }

    &.col-20-80 {
        @include columns(20%, 80%);
    }

    &.col-25-75 {
        @include columns(25%, 75%);
    }

    &.col-30-70 {
        @include columns(30%, 70%);
    }

    &.col-35-65 {
        @include columns(35%, 65%);
    }

    &.col-36-64 {
        @include columns(36%, 64%);
    }
    
    &.col-40-60 {
        @include columns(40%, 60%);
    }

    &.col-45-55 {
        @include columns(45%, 55%);
    }

    &.col-48-52 {
        @include columns(48%, 52%);
    }
    
    &.col-50-50 {
        @include columns(50%, 50%);
    }

    &.col-55-45 {
        @include columns(55%, 45%);
    }

    &.col-57-43 {
        @include columns(57%, 43%);
    }

    &.col-60-40 {
        @include columns(60%, 40%);
    }

    &.col-70-30 {
        @include columns(70%, 30%);
    }

    &.center-content,
    &.center-content-1280 {
        max-width: 1280px;
        margin: 0 auto;
        float: none;
    }

    &.center-content-inner,
    &.center-content-1090 {
        max-width: 1090px;
        margin: 0 auto;
        float: none;
    }

    &.center-content-900,
    &.center-content-inner-small  {
        max-width: 900px;
        margin: 0 auto;
        float: none;
    }

    &.center-content-710,
    &.center-content-narrow {
        max-width: 710px;
        margin: 0 auto;
        float: none;
    }

    &.window-height {
        height: 100vh;
    }
}

/*------------------------------------*\
    LAYOUT ATTRIBUTES
\*------------------------------------*/
.outer-wrap {
    width: 100%;
    height: auto;
    float: left;
    display: block;
}

.block {
    width: 100%;
    height: auto;
    float: left;
    display: block;
}

.hide {
    display: none !important;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*------------------------------------*\
    GET FLEXIBLE CONTENT
\*------------------------------------*/

.flexible-content-wrap {
    width: 100%;
    display: block;
    clear: both;
    padding: 0px;

    @include MQ(tabletLandscape) {
        padding: 0px;
    }

    .flexible-content-column {
        width: 100%;
        display: block;
    }
}

.flexible-content {
    position: relative;
    float: left;
    width: 100%;
    display: block;
    clear: both;
    padding: 0px;
    overflow: hidden;

    .module-name {
        position: absolute;
        width: auto;
        height: auto;
        top: 20px;
        right: 20px;
        padding: 10px;
        background-color: $white;
        color: $zoopla;
        opacity: 0.7;
        display: none;
        z-index: 70;

        &.show {
            display: block;
        }
    }
}

.module-alg {
    &.flexible-content {
        width: 100%;
        max-width: 100%;
        float: left;

        @include MQ(extraWideDesktop) {
            width: 100%;
            max-width: 1600px;
            margin: 0 auto 40px auto;
            float: none;
        
            .center-content-1366 {
                max-width: 100%!important;
            }

            &:last-of-type {
                margin: 0 auto 0 auto;  
            }
        }

        &.module-alg-hero,
        &.module-alg-cta-text-link {
            @include MQ(extraWideDesktop) {
                width: 100%;
                max-width: 100%;
                margin: 0;
                float: none;
            }
        }
    }

    .container {
        &.center-content-1366 {
            max-width: 100%!important;
       }
    }
}

/*------------------------------------*\
    LITY IMAGE PROPERTIES
\*------------------------------------*/

.lity {
    background: rgba(0, 0, 0, .6);
}

.lity-wrap {
    .iframe {
        body {
            img {
                height: auto !important;
                height: 100% !important;
                max-width: 100% !important;
            }
        }
    }
}

/*------------------------------------*\
    IMAGE HOVER FX'S
\*------------------------------------*/

.hoverGrow {
    overflow: hidden;

    img {
        -webkit-transition: opacity 1s, -webkit-transform 1s;
        transition: opacity 1s, transform 1s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    &:hover {
        img {
            -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
        }
    }
}

.contrast {
    img {
        filter: contrast(120%);
    }
}


/*------------------------------------*\
    VIDEO EMBEDS
--------------------------------------*/
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed,
.embed-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*------------------------------------*\
    REPEAT MODULE
--------------------------------------*/
.module-bcc-repeat-module,
.module-ard-repeat-module {
    overflow: visible;
}

/*------------------------------------*\
    MONSTER INSIGHTS
--------------------------------------*/

.monsterinsights-tracking-notice {
    display: none !important;
    padding: 15px 10px 15px 15px !important;

    .monsterinsights-tracking-notice-icon {
        display: none;
    }

    .monsterinsights-tracking-notice-text a {
        display: none !important;
    }
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

.mobile-tabletP {
    display: block!important;

    @include MQ(tabletPortrait) {
        display: none!important;
    }
}

.mobile-tabletL {
    display: block!important;

    @include MQ(tabletLandscape) {
        display: none!important;
    }
}

.desktop-tabletP {
    display: none!important;

    @include MQ(tabletPortrait) {
        display: block!important;
    }
}

.desktop-tabletL {
    display: none!important;

    @include MQ(tabletLandscape) {
        display: block!important;
    }
}

/*------------------------------------*\
    FLICKITY
\*------------------------------------*/

.watch-css {
    &[data-carousel="off"] {
        &:after {
            content: '';
        }
    }
    &[data-carousel="on"] {
        &:after {
            content: 'flickity';
            display: none;
        }
    }
}